<!-- <form class="h-100 bg-dark" #registerForm="ngForm" (ngSubmit)="register()"> -->
  <form class="h-100 bg-dark"  [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src=  "https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img4.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration form</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" formControlName="username"  
                      [ngClass]="{'is-invalid':registerForm.get('username')?.errors && registerForm.get('username')?.touched}"
                       class="form-control  form-control-lg" />
                      <label class="form-label" for="form3Example1m">User name</label>
                      <div class="invalid-feedback">please choose a username</div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" formControlName="password"
                       [ngClass]="{'is-invalid':registerForm.get('password')?.errors && registerForm.get('password')?.touched}" 
                       class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Password</label>
                      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')"
                       class="invalid-feedback">passwors is requierd</div>
                       <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')"
                       class="invalid-feedback">passwors must be at least 4 char</div>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" formControlName="confirmPassword" 
                      [ngClass]="{'is-invalid':registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched}"
                        class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Password</label>
                      <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')"
                      class="invalid-feedback">passwors is requierd</div>
                    </div>
                  </div>
                </div>

                ====
                radio buttons
                ==== 
                
                 <div class="form-group">
                    <label class="control-label" style="margin-right:10px">I am a: </label>
                    <label class="radio-inline">
                      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
                    </label>
                    <label class="radio-inline ml-3">
                      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
                    </label>
                  </div>
                
                =====
                known as
                =====
                
                  <div class="form-group">
                    <input [ngClass]="{'is-invalid': registerForm.get('knownAs')?.errors && registerForm.get('knownAs')?.touched}" class="form-control"
                      placeholder="Known as" formControlName="knownAs">
                    <div class="invalid-feedback" *ngIf="registerForm.get('knownAs')?.touched && registerForm.get('knownAs')?.hasError('required')">Known as is required</div>
                  </div>
                
                =====
                date of birth
                =====
                
                
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth')?.errors && registerForm.get('dateOfBirth')?.touched}" class="form-control"
                          placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
                        <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.hasError('required')">Date of Birth is required</div>
                         
                      </div>
                
                =====
                city and country
                =====
                
                  <div class="form-group">
                    <input [ngClass]="{'is-invalid': registerForm.get('city')?.errors && registerForm.get('city')?.touched}" class="form-control"
                      placeholder="City" formControlName="city">
                    <div class="invalid-feedback" *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.hasError('required')">City is required</div>
                  </div>
                
                  <div class="form-group">
                    <input [ngClass]="{'is-invalid': registerForm.get('country')?.errors && registerForm.get('country')?.touched}" class="form-control"
                      placeholder="Country" formControlName="country">
                    <div class="invalid-feedback" *ngIf="registerForm.get('country')?.touched && registerForm.get('country')?.hasError('required')">Country is required</div>
                  </div>
                

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg" [disabled]="!registerForm.valid" (click)="cancel()">Close</button>
                  <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<p> form value:{{registerForm.value | json}}</p>
<p> form value:{{registerForm.status | json}}</p>